* {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 12%;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
height: 720px;
}

.profile img {
    margin-left: 20px;
    border-radius: 50%;
    width: 120px;
    display: block;
    margin: 5px auto;
    height: 120px;
}

.profile h3 {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 25px;
    text-align: center;
}

.profile p {
    margin-bottom: 3%;
    font-size: 20px;
    text-align: center;
    color: #2ecc71;
    margin-bottom: 5%;
}

.dash ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.dash ul li {
    width: 100%;
}

.dash ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.dash ul li a.active,
.dash ul li a:hover {
    background-color: #34495e;
}

.quick-send {
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 35%;
        padding-bottom: 20px;
    }

    .profile img {
        width: 80px;
        height: 80px;
    }

    .profile h3 {
        font-size: 20px;
    }

    .profile p {
        font-size: 18px;
    }

    .dash ul li a {
        padding: 10px;
        font-size: 18px;
    }

    .quick-send {
        width: 80%;
        font-size: 16px;
        padding: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        height: 600px;
        width: 40%;
    }

    .profile img {
        width: 60px;
        height: 60px;
    }

    .profile h3 {
        font-size: 18px;
    }

    .profile p {
        font-size: 16px;
    }

    .dash ul li a {
        padding: 8px;
        font-size: 16px;
    }

    .quick-send {
        font-size: 14px;
        padding: 8px;
    }
}
